<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
			th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
			rel="stylesheet" media="screen"></link>
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
			th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
</head>
<body>
	<fieldset th:fragment="baseAgent">
		<legend th:text="#{agent.section.basic}">Basic info</legend>
		<ul>
			<li>
				<span th:text="#{message.label(#{agent.codename})}">Codename:</span> 
				<span th:text="${agent.getCodename()}">value</span>
			</li>
			<li>
				<span th:text="#{message.label(#{agent.faction})}">Faction:</span> 
				<span th:text="#{|faction.${agent.getFaction()}|}">value</span>
			</li>
		</ul>
	</fieldset>
</body>
</html>