<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"></link>
</head>
<body>
	<fieldset th:fragment="base">
		<legend th:text="#{section.delete.form}">Delete label goes here</legend>
		<form method="POST" th:action="@{|/agent/delete/${agent.codename}|}">
			<input type="submit" value="ok" th:value="#{message.yes}"/>
			<input type="submit" value="ko" th:value="#{message.no}"/>
		</form>
	</fieldset>
</body>
</html>