<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ingress Compagnion - The agents</title>
		<link rel="stylesheet" type="text/css" th:href="@{/static/style.css}" media="screen"></link>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
		
		<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
				th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
				rel="stylesheet" media="screen" ></link>
		 <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
				th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
		
	</head>
	<body>
		<!-- Header -->
		<div th:replace="fragments/header :: header">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime. -->
			<!-- ============================================================================ -->
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">Static header</a>
					</div>
					<div class="navbar-collapse collapse">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#">Home</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	
		<div class="container">
			<h1 th:text="#{agents.title}">Title goes here</h1>
			<hr/>
			<table>
				<tr>
					<th th:text="#{agent.codename}">Code name</th>
					<th th:text="#{agent.faction}">Faction</th>
					<th th:text="#{agent.registered}">Registered</th>
					<th th:text="#{header.actions}">what can we do?</th>
				</tr>
				<tr th:each="agent : ${agents}" th:class="${agent.getFaction()}">
					<td>
						<a href="agent/profile" th:href="@{|/agent/show/${agent.getCodename()}|}" th:text="${agent.getCodename()}">John Smith</a> 
					</td>
					
					<td th:text="#{|faction.${agent.getFaction()}|}">The best faction</td>
					<td th:text="${agent.isRegistered()} ? #{message.yes}">Registered?</td>
					<td>
						<a th:href="@{|/agent/show/${agent.getCodename()}|}" th:text="#{action.read}">show</a>
						-
						<a th:href="@{|/agent/modify/${agent.getCodename()}|}" th:text="#{action.update}">modify</a>
						-
						<a th:href="@{|/agent/delete/${agent.codename}|}" th:text="#{action.delete}">Bye</a>
					</td>
				</tr>
				<tr>
					<td colspan="4"><a href="#" th:href="@{|/agent/add|}" th:text="#{action.create}">Create a new agent</a></td>
				</tr>
				
			</table>
		</div>
		
		<div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
	</body>
</html>