table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 20px;
}

td{
	text-align: right;
}

th{
	font-variant: small-caps;
	text-align: center; 
}

.color_cyan {
	color: #59fbea;
}

.color_orange {
	color: #ebbc4a;
}

.RESISTANCE {
	color: #00c2ff;
}

.ENLIGHTED {
	color: #28f428;
}

.NEUTRAL {
	color: #f9f9f9;
}

.box_drop_shadow {
	-webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Common styles for the whole site */
@font-face {
	font-family: coda_regular;
	src: url('../ttf/coda_regular.ttf');
}

html, body {
	background-color: #0b0c0d;
	color: #ddd;
	font-family: coda_regular, arial, helvetica, sans-serif;
	font-size: 15px;
	margin: 0 auto -100px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.level_0 {
	color: #333;
}

.level_1 {
	color: #fece5a;
}

.level_2 {
	color: #ffa630;
}

.level_3 {
	color: #ff7315;
}

.level_4 {
	color: #e40000;
}

.level_5 {
	color: #fd2992;
}

.level_6 {
	color: #eb26cd;
}

.level_7 {
	color: #c124e0;
}

.level_8 {
	color: #9627f4;
}


fieldset{
	margin-top:12px;
	padding:12px;
	-moz-border-radius:8px;
	border-radius:8px;
	background-color: #0b0c0d;
}

.blue { border: 1px solid #09c; }
.blue legend { color:#09c; }


legend{
	font-style:italic;
	padding-left:12px;
	padding-right:12px;
}


.RESISTANCE fieldset{
	 border: 1px solid #00c2ff;
}

.RESISTANCE legend{
	color: #00c2ff; 
}

.ENLIGHTED fieldset{
	 border: 1px solid #28f428;
}

.ENLIGHTED legend{
	color: #28f428; 
}

/* hr {
    display: block;
    clear: both;
    height: 0;
    margin: 40px 0 80px;
    padding: 0;
    border: 0;
    font-family: arial;
    text-align: center;
    font-size: 60px;
    line-height: 1;
} */

.RESISTANCE hr{
	color: #00c2ff;
	background-color: #00c2ff;
	height: 5px;
}

.ENLIGHTED hr{
	color: #28f428;
	background-color: #28f428;
	height: 5px;
}